/*
  ColorUi for uniApp  v2.1.6 | by 文晓港 2019-05-31 10:44:24
  仅供学习交流，如作它用所承受的法律责任一概与作者无关  
  
  *使用ColorUi开发扩展与插件时，请注明基于ColorUi开发 
  

*/


/* ==================
          布局
 ==================== */

/*  -- flex弹性布局 -- */

.flex {
	display: flex;
}

.basis-xs {
	flex-basis: 20%;
}

.basis-sm {
	flex-basis: 40%;
}

.basis-df {
	flex-basis: 50%;
}

.basis-lg {
	flex-basis: 60%;
}

.basis-xl {
	flex-basis: 80%;
}

.flex-sub {
	flex: 1;
}

.flex-twice {
	flex: 2;
}

.flex-treble {
	flex: 3;
}

.flex-fourfold {
	flex: 4;
}

.flex-fivefold {
	flex: 5;
}

.flex-direction {
	flex-direction: column;
}
.flex-reverse {
	flex-direction: column-reverse;
}
.flex-reverse-row {
	flex-direction: row-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.self-start {
	align-self: flex-start;
}

.self-center {
	align-self: flex-center;
}

.self-end {
	align-self: flex-end;
}

.self-stretch {
	align-self: stretch;
}

.align-stretch {
	align-items: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

/* grid布局 */

.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid.grid-square {
	overflow: hidden;
}

.grid.grid-square .cu-tag {
	position: absolute;
	right: 0;
	top: 0;
	border-bottom-left-radius: 6upx;
	padding: 6upx 12upx;
	height: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.grid.grid-square>view>text[class*="cuIcon-"] {
	font-size: 52upx;
	position: absolute;
	color: #8799a3;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid.grid-square>view {
	margin-right: 20upx;
	margin-bottom: 20upx;
	border-radius: 6upx;
	position: relative;
	overflow: hidden;
}
.grid.grid-square>view.bg-img image {
	width: 100%;
	height: 100%;
	position: absolute;
}
.grid.col-1.grid-square>view {
	padding-bottom: 100%;
	height: 0;
	margin-right: 0;
}

.grid.col-2.grid-square>view {
	padding-bottom: calc((100% - 20upx)/2);
	height: 0;
	width: calc((100% - 20upx)/2);
}

.grid.col-3.grid-square>view {
	padding-bottom: calc((100% - 40upx)/3);
	height: 0;
	width: calc((100% - 40upx)/3);
}

.grid.col-4.grid-square>view {
	padding-bottom: calc((100% - 60upx)/4);
	height: 0;
	width: calc((100% - 60upx)/4);
}

.grid.col-5.grid-square>view {
	padding-bottom: calc((100% - 80upx)/5);
	height: 0;
	width: calc((100% - 80upx)/5);
}

.grid.col-2.grid-square>view:nth-child(2n),
.grid.col-3.grid-square>view:nth-child(3n),
.grid.col-4.grid-square>view:nth-child(4n),
.grid.col-5.grid-square>view:nth-child(5n) {
	margin-right: 0;
}

.grid.col-1>view {
	width: 100%;
}

.grid.col-2>view {
	width: 50%;
}

.grid.col-3>view {
	width: 33.33%;
}

.grid.col-4>view {
	width: 25%;
}

.grid.col-5>view {
	width: 20%;
}

/*  -- 内外边距 -- */

.margin-0 {
	margin: 0;
}

.margin-xs {
	margin: 10upx;
}

.margin-sm {
	margin: 20upx;
}

.margin {
	margin: 30upx;
}

.margin-lg {
	margin: 40upx;
}

.margin-xl {
	margin: 50upx;
}

.margin-top-xs {
	margin-top: 10upx;
}

.margin-top-sm {
	margin-top: 20upx;
}

.margin-top {
	margin-top: 30upx;
}

.margin-top-lg {
	margin-top: 40upx;
}

.margin-top-xl {
	margin-top: 50upx;
}

.margin-right-xs {
	margin-right: 10upx;
}

.margin-right-sm {
	margin-right: 20upx;
}

.margin-right {
	margin-right: 30upx;
}

.margin-right-lg {
	margin-right: 40upx;
}

.margin-right-xl {
	margin-right: 50upx;
}

.margin-bottom-xs {
	margin-bottom: 10upx;
}

.margin-bottom-sm {
	margin-bottom: 20upx;
}

.margin-bottom {
	margin-bottom: 30upx;
}

.margin-bottom-lg {
	margin-bottom: 40upx;
}

.margin-bottom-xl {
	margin-bottom: 50upx;
}

.margin-left-xs {
	margin-left: 10upx;
}

.margin-left-sm {
	margin-left: 20upx;
}

.margin-left {
	margin-left: 30upx;
}

.margin-left-lg {
	margin-left: 40upx;
}

.margin-left-xl {
	margin-left: 50upx;
}

.margin-lr-xs {
	margin-left: 10upx;
	margin-right: 10upx;
}

.margin-lr-sm {
	margin-left: 20upx;
	margin-right: 20upx;
}

.margin-lr {
	margin-left: 30upx;
	margin-right: 30upx;
}

.margin-lr-lg {
	margin-left: 40upx;
	margin-right: 40upx;
}

.margin-lr-xl {
	margin-left: 50upx;
	margin-right: 50upx;
}

.margin-tb-xs {
	margin-top: 10upx;
	margin-bottom: 10upx;
}

.margin-tb-sm {
	margin-top: 20upx;
	margin-bottom: 20upx;
}

.margin-tb {
	margin-top: 30upx;
	margin-bottom: 30upx;
}

.margin-tb-lg {
	margin-top: 40upx;
	margin-bottom: 40upx;
}

.margin-tb-xl {
	margin-top: 50upx;
	margin-bottom: 50upx;
}

.padding-0 {
	padding: 0;
}

.padding-xs {
	padding: 10upx;
}

.padding-sm {
	padding: 20upx;
}

.padding {
	padding: 30upx;
}

.padding-lg {
	padding: 40upx;
}

.padding-xl {
	padding: 50upx;
}

.padding-top-xs {
	padding-top: 10upx;
}

.padding-top-sm {
	padding-top: 20upx;
}

.padding-top {
	padding-top: 30upx;
}

.padding-top-lg {
	padding-top: 40upx;
}

.padding-top-xl {
	padding-top: 50upx;
}

.padding-right-xs {
	padding-right: 10upx;
}

.padding-right-sm {
	padding-right: 20upx;
}

.padding-right {
	padding-right: 30upx;
}

.padding-right-lg {
	padding-right: 40upx;
}

.padding-right-xl {
	padding-right: 50upx;
}

.padding-bottom-xs {
	padding-bottom: 10upx;
}

.padding-bottom-sm {
	padding-bottom: 20upx;
}

.padding-bottom {
	padding-bottom: 30upx;
}

.padding-bottom-lg {
	padding-bottom: 40upx;
}

.padding-bottom-xl {
	padding-bottom: 50upx;
}

.padding-left-xs {
	padding-left: 10upx;
}

.padding-left-sm {
	padding-left: 20upx;
}

.padding-left {
	padding-left: 30upx;
}

.padding-left-lg {
	padding-left: 40upx;
}

.padding-left-xl {
	padding-left: 50upx;
}

.padding-lr-xs {
	padding-left: 10upx;
	padding-right: 10upx;
}

.padding-lr-sm {
	padding-left: 20upx;
	padding-right: 20upx;
}

.padding-lr {
	padding-left: 30upx;
	padding-right: 30upx;
}

.padding-lr-lg {
	padding-left: 40upx;
	padding-right: 40upx;
}

.padding-lr-xl {
	padding-left: 50upx;
	padding-right: 50upx;
}

.padding-tb-xs {
	padding-top: 10upx;
	padding-bottom: 10upx;
}

.padding-tb-sm {
	padding-top: 20upx;
	padding-bottom: 20upx;
}

.padding-tb {
	padding-top: 30upx;
	padding-bottom: 30upx;
}

.padding-tb-lg {
	padding-top: 40upx;
	padding-bottom: 40upx;
}

.padding-tb-xl {
	padding-top: 50upx;
	padding-bottom: 50upx;
}

/* -- 浮动 --  */

.cf::after,
.cf::before {
	content: " ";
	display: table;
}

.cf::after {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* ==================
          背景
 ==================== */

.line-red::after,
.lines-red::after {
	border-color: #f2270c;
}

.line-orange::after,
.lines-orange::after {
	border-color: #f37b1d;
}

.line-yellow::after,
.lines-yellow::after {
	border-color: #fbbd08;
}

.line-olive::after,
.lines-olive::after {
	border-color: #8dc63f;
}

.line-green::after,
.lines-green::after {
	border-color: #39b54a;
}

.line-cyan::after,
.lines-cyan::after {
	border-color: #1cbbb4;
}

.line-blue::after,
.lines-blue::after {
	border-color: #0081ff;
}

.line-purple::after,
.lines-purple::after {
	border-color: #6739b6;
}

.line-mauve::after,
.lines-mauve::after {
	border-color: #9c26b0;
}

.line-pink::after,
.lines-pink::after {
	border-color: #e03997;
}

.line-brown::after,
.lines-brown::after {
	border-color: #a5673f;
}

.line-grey::after,
.lines-grey::after {
	border-color: #8799a3;
}

.line-gray::after,
.lines-gray::after {
	border-color: #aaaaaa;
}

.line-black::after,
.lines-black::after {
	border-color: #333333;
}

.line-white::after,
.lines-white::after {
	border-color: #ffffff;
}

.bg-red {
	background-color: #f2270c;
	color: #ffffff;
}

.bg-orange {
	background-color: #f37b1d;
	color: #ffffff;
}

.bg-yellow {
	background-color: #fbbd08;
	color: #333333;
}

.bg-olive {
	background-color: #8dc63f;
	color: #ffffff;
}

.bg-green {
	background-color: #39b54a;
	color: #ffffff;
}

.bg-cyan {
	background-color: #1cbbb4;
	color: #ffffff;
}

.bg-blue {
	background-color: #0081ff;
	color: #ffffff;
}

.bg-purple {
	background-color: #6739b6;
	color: #ffffff;
}

.bg-mauve {
	background-color: #9c26b0;
	color: #ffffff;
}

.bg-pink {
	background-color: #e03997;
	color: #ffffff;
}

.bg-brown {
	background-color: #a5673f;
	color: #ffffff;
}

.bg-grey {
	background-color: #8799a3;
	color: #ffffff;
}

.bg-gray {
	background-color: #f0f0f0;
	color: #333333;
}

.bg-black {
	background-color: #333333;
	color: #ffffff;
}

.bg-white {
	background-color: #ffffff;
	color: #666666;
}

.bg-shadeTop {
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01));
	color: #ffffff;
}

.bg-shadeBottom {
	background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
	color: #ffffff;
}

.bg-red.light {
	color: #f2270c;
	background-color: #fadbd9;
}

.bg-orange.light {
	color: #f37b1d;
	background-color: #fde6d2;
}

.bg-yellow.light {
	color: #fbbd08;
	background-color: #fef2ced2;
}

.bg-olive.light {
	color: #8dc63f;
	background-color: #e8f4d9;
}

.bg-green.light {
	color: #39b54a;
	background-color: #d7f0dbff;
}

.bg-cyan.light {
	color: #1cbbb4;
	background-color: #d2f1f0;
}

.bg-blue.light {
	color: #0081ff;
	background-color: #cce6ff;
}

.bg-purple.light {
	color: #6739b6;
	background-color: #e1d7f0;
}

.bg-mauve.light {
	color: #9c26b0;
	background-color: #ebd4ef;
}

.bg-pink.light {
	color: #e03997;
	background-color: #f9d7ea;
}

.bg-brown.light {
	color: #a5673f;
	background-color: #ede1d9;
}

.bg-grey.light {
	color: #8799a3;
	background-color: #e7ebed;
}

.bg-gradual-red {
	background-image: linear-gradient(45deg, #f43f3b, #ec008c);
	color: #ffffff;
}

.bg-gradual-orange {
	background-image: linear-gradient(45deg, #ff9700, #ed1c24);
	color: #ffffff;
}

.bg-gradual-green {
	background-image: linear-gradient(45deg, #39b54a, #8dc63f);
	color: #ffffff;
}

.bg-gradual-purple {
	background-image: linear-gradient(45deg, #9000ff, #5e00ff);
	color: #ffffff;
}

.bg-gradual-pink {
	background-image: linear-gradient(45deg, #ec008c, #6739b6);
	color: #ffffff;
}

.bg-gradual-blue {
	background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
	color: #ffffff;
}

.shadow[class*="-red"] {
	box-shadow: 6upx 6upx 8upx rgba(204, 69, 59, 0.2);
}

.shadow[class*="-orange"] {
	box-shadow: 6upx 6upx 8upx rgba(217, 109, 26, 0.2);
}

.shadow[class*="-yellow"] {
	box-shadow: 6upx 6upx 8upx rgba(224, 170, 7, 0.2);
}

.shadow[class*="-olive"] {
	box-shadow: 6upx 6upx 8upx rgba(124, 173, 55, 0.2);
}

.shadow[class*="-green"] {
	box-shadow: 6upx 6upx 8upx rgba(48, 156, 63, 0.2);
}

.shadow[class*="-cyan"] {
	box-shadow: 6upx 6upx 8upx rgba(28, 187, 180, 0.2);
}

.shadow[class*="-blue"] {
	box-shadow: 6upx 6upx 8upx rgba(0, 102, 204, 0.2);
}

.shadow[class*="-purple"] {
	box-shadow: 6upx 6upx 8upx rgba(88, 48, 156, 0.2);
}

.shadow[class*="-mauve"] {
	box-shadow: 6upx 6upx 8upx rgba(133, 33, 150, 0.2);
}

.shadow[class*="-pink"] {
	box-shadow: 6upx 6upx 8upx rgba(199, 50, 134, 0.2);
}

.shadow[class*="-brown"] {
	box-shadow: 6upx 6upx 8upx rgba(140, 88, 53, 0.2);
}

.shadow[class*="-grey"] {
	box-shadow: 6upx 6upx 8upx rgba(114, 130, 138, 0.2);
}

.shadow[class*="-gray"] {
	box-shadow: 6upx 6upx 8upx rgba(114, 130, 138, 0.2);
}

.shadow[class*="-black"] {
	box-shadow: 6upx 6upx 8upx rgba(26, 26, 26, 0.2);
}

.shadow[class*="-white"] {
	box-shadow: 6upx 6upx 8upx rgba(26, 26, 26, 0.2);
}

.text-shadow[class*="-red"] {
	text-shadow: 6upx 6upx 8upx rgba(204, 69, 59, 0.2);
}

.text-shadow[class*="-orange"] {
	text-shadow: 6upx 6upx 8upx rgba(217, 109, 26, 0.2);
}

.text-shadow[class*="-yellow"] {
	text-shadow: 6upx 6upx 8upx rgba(224, 170, 7, 0.2);
}

.text-shadow[class*="-olive"] {
	text-shadow: 6upx 6upx 8upx rgba(124, 173, 55, 0.2);
}

.text-shadow[class*="-green"] {
	text-shadow: 6upx 6upx 8upx rgba(48, 156, 63, 0.2);
}

.text-shadow[class*="-cyan"] {
	text-shadow: 6upx 6upx 8upx rgba(28, 187, 180, 0.2);
}

.text-shadow[class*="-blue"] {
	text-shadow: 6upx 6upx 8upx rgba(0, 102, 204, 0.2);
}

.text-shadow[class*="-purple"] {
	text-shadow: 6upx 6upx 8upx rgba(88, 48, 156, 0.2);
}

.text-shadow[class*="-mauve"] {
	text-shadow: 6upx 6upx 8upx rgba(133, 33, 150, 0.2);
}

.text-shadow[class*="-pink"] {
	text-shadow: 6upx 6upx 8upx rgba(199, 50, 134, 0.2);
}

.text-shadow[class*="-brown"] {
	text-shadow: 6upx 6upx 8upx rgba(140, 88, 53, 0.2);
}

.text-shadow[class*="-grey"] {
	text-shadow: 6upx 6upx 8upx rgba(114, 130, 138, 0.2);
}

.text-shadow[class*="-gray"] {
	text-shadow: 6upx 6upx 8upx rgba(114, 130, 138, 0.2);
}

.text-shadow[class*="-black"] {
	text-shadow: 6upx 6upx 8upx rgba(26, 26, 26, 0.2);
}

.bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-mask {
	background-color: #333333;
	position: relative;
}

.bg-mask::after {
	content: "";
	border-radius: inherit;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.bg-mask view,
.bg-mask cover-view {
	z-index: 5;
	position: relative;
}

.bg-video {
	position: relative;
}

.bg-video video {
	display: block;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	z-index: 0;
	pointer-events: none;
}

/* ==================
          文本
 ==================== */

.text-xs {
	font-size: 20upx;
}

.text-sm {
	font-size: 24upx;
}

.text-df {
	font-size: 28upx;
}

.text-lg {
	font-size: 32upx;
}

.text-xl {
	font-size: 36upx;
}

.text-xxl {
	font-size: 44upx;
}

.text-sl {
	font-size: 80upx;
}

.text-xsl {
	font-size: 120upx;
}

.text-Abc {
	text-transform: Capitalize;
}

.text-ABC {
	text-transform: Uppercase;
}

.text-abc {
	text-transform: Lowercase;
}

.text-price::before {
	content: "¥";
	font-size: 80%;
	margin-right: 4upx;
}

.text-cut {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.text-content {
	line-height: 1.6;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-red,
.line-red,
.lines-red {
	color: #f2270c;
}

.text-orange,
.line-orange,
.lines-orange {
	color: #f37b1d;
}

.text-yellow,
.line-yellow,
.lines-yellow {
	color: #fbbd08;
}

.text-olive,
.line-olive,
.lines-olive {
	color: #8dc63f;
}

.text-green,
.line-green,
.lines-green {
	color: #39b54a;
}

.text-cyan,
.line-cyan,
.lines-cyan {
	color: #1cbbb4;
}

.text-blue,
.line-blue,
.lines-blue {
	color: #0081ff;
}

.text-purple,
.line-purple,
.lines-purple {
	color: #6739b6;
}

.text-mauve,
.line-mauve,
.lines-mauve {
	color: #9c26b0;
}

.text-pink,
.line-pink,
.lines-pink {
	color: #e03997;
}

.text-brown,
.line-brown,
.lines-brown {
	color: #a5673f;
}

.text-grey,
.line-grey,
.lines-grey {
	color: #8799a3;
}

.text-gray,
.line-gray,
.lines-gray {
	color: #aaaaaa;
}

.text-black,
.line-black,
.lines-black {
	color: #333333;
}

.text-white,
.line-white,
.lines-white {
	color: #ffffff;
}
